{% extends 'almaher/base.html'%}

{% block body%}

<!-- Begin Page Content -->
<div class="container-fluid">

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-4 text-center w-50" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Add Course</h1>

    <form class="user" action="{% url 'add_course' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-6 mb-4 mb-sm-0">
                <label for="exampleInputEmail1" class="form-label">Course Name</label>
                <input type="text" class="form-control form-control-user" id="ncourse" name="ncourse"
                    placeholder="Course Name" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-4 mb-sm-0">
                <label for="exampleInputEmail1" class="form-label">Start Date</label>
                <input type="date" class="form-control rounded-pill" id="sdate" name="sdate" required>
            </div>
            <div class="col-sm-6">
                <label for="exampleInputEmail1" class="form-label">End Date</label>
                <input type="date" class="form-control rounded-pill" id="edate" name="edate" required>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-secondary btn-user w-25 mr-4" href="{% url 'course'%}">
                <span>Cancel</span>
            </a>
            <input type="submit" value="Add" class="btn btn-primary btn-user w-25">
        </div>
    </form>   
    
    
</div>
<!-- /.container-fluid -->  

{% endblock %}