{% extends 'almaher/base.html'%}

{% block body%}

<!-- Begin Page Content -->
<div class="container-fluid">

{% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-4 text-center w-50" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Add Student</h1>

    <form class="user" action="{% url 'add_student' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="fname" name="fname"
                    placeholder="First Name" required >
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="lname" name="lname"
                    placeholder="Last Name" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="father_name" name="father_name"
                    placeholder="Father" required>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="job" name="job"
                    placeholder="Job" required>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="pnumber" name="pnumber"
                    placeholder="Phone Number" required>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="hnumber" name="hnumber"
                    placeholder="Home Number" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="address" name="address"
                    placeholder="Address" required>
            </div>
            <div class="col-sm-6">
                <input type="date" class="form-control rounded-pill" id="bdate" name="bdate" required>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <input type="submit" value="Add" class="btn btn-primary btn-user w-25">
        </div>
    </form>     

</div>
<!-- /.container-fluid -->  

{% endblock %}