{% extends 'almaher/base_card_dml.html'%}

{% block pg_head %}
    Add Teacher
{% endblock %}

{% block card_body %}
    <form class="user" action="{% url 'add_teacher' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="fname" name="fname"
                    placeholder="First Name" required >
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="lname" name="lname"
                    placeholder="Last Name" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="father_name" name="father_name"
                    placeholder="Father" required>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="job" name="job"
                    placeholder="Job" required>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="pnumber" name="pnumber"
                    placeholder="Phone Number" required>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="hnumber" name="hnumber"
                    placeholder="Home Number" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="address" name="address"
                    placeholder="Address" required>
            </div>
            <div class="col-sm-6">
                <input type="date" class="form-control rounded-pill" id="bdate" name="bdate" required>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-secondary w-25 mr-4" href="{% url 'teacher'%}">
                <span>Cancel</span>
            </a>
            <input type="submit" value="Add" class="btn btn-primary w-25">
        </div>
    </form>
{% endblock %}