{% extends 'almaher/base_card_dml.html'%}

{% block mess %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-2 text-center w-25" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block pg_head %}
    Add Practical Exam
{% endblock %}

{% block card_body %}
    <form class="user" action="{% url 'add_practical_exam' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label class="form-label">Time</label>
                <select class="form-control form-select rounded-pill" aria-label="Default select example" name="time" id="time" required>
                    <option value="الامتحان الأول">الامتحان الأول</option>
                    <option value="التكميلي">التكميلي</option>
                    <option value="الاعادة">الاعادة</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label class="form-label">Student</label>
                <select class="form-control form-select rounded-pill" aria-label="Default select example" name="student" id="student" required>
                    {% for item in student%}
                    <option value="{{item.person_id}}">{{item.first_name}} {{item.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label class="form-label">Teacher</label>
                <select class="form-control form-select rounded-pill" aria-label="Default select example" name="teacher" id="teacher" required>
                    {% for item in teacher %}
                    <option value="{{item.person_id}}">{{item.first_name}} {{item.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <label class="form-label">Mark</label>
                <input type="number" class="form-control form-control-user" id="mark" name="mark"
                    placeholder="Mark" min="1" max="100" required>
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-secondary w-25 mr-4" href="{% url 'exam'%}">
                <span>Back</span>
            </a>
            <input type="submit" value="Add" class="btn btn-primary w-25">
        </div>
    </form>
{% endblock %}