{% extends 'almaher/base.html'%}

{% block body%}
<!-- Begin Page Content -->
<div class="container-fluid">

    {% block mess %}

    {% endblock %}

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{% block pg_head %}{% endblock %}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a type="button" class="m-0  btn btn-success" href="{% block add_url %} {% endblock %}">
                <i class="fas fa-fw fa-user-plus"></i>
                <span>{% block url_name %}{% endblock %}</span>
            </a>            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            {% block th_table %}

                            {% endblock %}
                        </tr>
                    </thead>
                    <tbody>
                        {% block tr_table%}
                        
                        {% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}