{% extends 'almaher/base_datatables.html'%}

{% block mess %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-2 text-center w-25" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block pg_head %}
    Courses
{% endblock %}

{% block add_url %}
    {% url 'add_course'%}
{% endblock %}

{% block url_name %}
    Add Course
{% endblock %}

{% block th_table %}
    <th>Course Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
    <th></th>
{% endblock %}

{% block tr_table%}
    {% for item in course%}
    <tr>
        <td>{{item.course_id}}</td>
        <td>{{item.course_name}}</td>
        <td>{{item.start_date}}</td>
        <td>{{item.end_date}}</td>
        <td>
            <a href="{% url 'edit_course' item.course_id %}" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'del_course' item.course_id %}" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-times"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
