{% extends 'almaher/base.html'%}

{% block body%}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Delete Teacher</h1>
    
    <div class="card p-4">
    <form action="{% url 'del_teacher' teacher.person_id%}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" value="{{teacher.first_name}}" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" value="{{teacher.last_name}}" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Father Name</label>
            <input type="text" class="form-control" value="{{teacher.father_name}}" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-1">
                <label class="form-label">
                    Select "Delete" below if you are ready to delete this current user!
                </label>
        </div>
        <a type="button" class="m-0  btn btn-secondary" href="{% url 'teacher'%}">
            <span>Cancel</span>
        </a>
        <button type="submit" class="btn btn-danger ">Delete</button>
    </form>
    </div> 
    
</div>
<!-- /.container-fluid -->  

{% endblock %}