{% extends 'almaher/base_card_dml.html'%}

{% block pg_head %}
    Delete Person
{% endblock %}

{% block card_body %}
    <form action="{% url 'del_person' person.person_id%}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" value="{{person.first_name}}" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" value="{{person.last_name}}" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Father Name</label>
            <input type="text" class="form-control" value="{{person.father_name}}" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
        </div>
        <div class="mb-1">
                <label class="form-label">
                    Select "Delete" below if you are ready to delete this current user!
                </label>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="m-0  btn btn-secondary w-25 mr-4" href="{% url 'person'%}">
                <span>Cancel</span>
            </a>
            <button type="submit" class="btn btn-danger w-25 mr-4">Delete</button>
        </div>
    </form>
{% endblock %}