{% extends 'almaher/base_card_dml.html'%}

{% block pg_head %}
    Edit Student
{% endblock %}

{% block card_body %}
    <form action="{% url 'edit_student' student.person_id%}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-6 mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input type="text" class="form-control" value="{{student.first_name}}" name="fname" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
            <div class="col-sm-6 mb-3">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                <input type="text" class="form-control" value="{{student.last_name}}" name="lname" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3">
                <label for="exampleInputEmail1" class="form-label">Father Name</label>
                <input type="text" class="form-control" value="{{student.father_name}}" name="father_name" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
            <div class="col-sm-6 mb-3">
                <label for="exampleInputEmail1" class="form-label">Brith Date</label>
                <input type="date" class="form-control" value="{{student.bdate|date:'Y-m-d'}}" name="bdate" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3">
                <label for="exampleInputEmail1" class="form-label">Home Number</label>
                <input type="text" class="form-control" value="{{student.home_number}}" name="hnumber" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
            <div class="col-sm-6 mb-3">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input type="text" class="form-control" value="{{student.phone_number}}" name="pnumber" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3">
                <label for="exampleInputEmail1" class="form-label">Address</label>
                <input type="text" class="form-control" value="{{student.address}}" name="address" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
            <div class="col-sm-6 mb-4">
                <label for="exampleInputEmail1" class="form-label">Job</label>
                <input type="text" class="form-control" value="{{student.job}}" name="job" id="exampleInputEmail1" aria-describedby="emailHelp" >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6  mb-3">
                <label for="exampleInputEmail1" class="form-label">Level</label>
                <select class="form-control form-select rounded-pill" aria-label="Default select example" name="level" id="level">
                    {% if student.level_id %}
                        <option value="{{student.level_id.level_id}}" selected>{{student.level_id.level_name}}</option>
                    {% endif %}
                    {% for item in level%}
                        <option value="{{item.level_id}}">{{item.level_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a type="button" class="m-0  btn btn-secondary w-25 mr-4" href="{% url 'student'%}">
            <span>Cancel</span>
            </a>
            <button type="submit" class="btn btn-primary w-25">Save</button>
        </div>                
    </form>
{% endblock %}