{% extends 'almaher/base.html'%}

{% block body%}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-2">
            <h1 class="h3 m-0 text-gray-800">Persons</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Father</th>
                            <th>BDate</th>
                            <th>Home Number</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>Job</th>
                            <th>Level</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in person%}
                        <tr>
                            <td>{{item.person_id}}</td>
                            <td>{{item.person_type_id}}</td>
                            <td>{{item.first_name}}</td>
                            <td>{{item.last_name}}</td>
                            <td>{{item.father_name}}</td>
                            <td>{{item.bdate}}</td>
                            <td>{{item.home_number}}</td>
                            <td>{{item.phone_number}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.job}}</td>
                            <td>{{item.level_id.level_name}}</td>
                            {% if item.status == True%}
                                <td>
                                    <div class="d-flex justify-content-center text-success">
                                            <i class="fas fa-unlock"></i>
                                    </div>
                                </td>
                            {% else %}
                                <td>
                                    <div class="d-flex justify-content-center text-danger">
                                        <i class="fas fa-lock"></i> 
                                    </div>
                                </td>
                            {% endif %}
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'edit_person' item.person_id %}" class="btn btn-info btn-circle btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'del_person' item.person_id %}" class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-user-times"></i>
                                    </a>
                                </div>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}