{% extends 'almaher/base_datatables.html'%}

{% block mess %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-2 text-center w-25" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block pg_head %}
    Positions
{% endblock %}

{% block add_url %}
    {% url 'add_position'%}
{% endblock %}

{% block url_name %}
    Add Position
{% endblock %}

{% block th_table %}
    <th>Position Name</th>
    <th></th>
{% endblock %}

{% block tr_table%}
    {% for item in position%}
    <tr>
        <td>{{item.position_id}}</td>
        <td>{{item.position_name}}</td>
        <td>
            <div class="d-flex justify-content-center">
                <a href="{% url 'del_position' item.position_id %}" class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
