{% extends 'almaher/base_datatables.html'%}

{% block pg_head %}
    Positions
{% endblock %}

{% block add_url %}
    {% url 'add_position'%}
{% endblock %}

{% block url_name %}
    Add Position
{% endblock %}

{% block th_table %}
    <th>Position Name</th>
    <th></th>
    <th></th>
{% endblock %}

{% block tr_table%}
    {% for item in position%}
    <tr>
        <td>{{item.position_id}}</td>
        <td>{{item.position_name}}</td>
        <td>
            <a href="{% url 'edit_level' item.position_id %}" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'del_level' item.position_id %}" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-user-times"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
