{% extends 'almaher/base_card_dml.html'%}

{% block pg_head %}
    Select Course
{% endblock %}

{% block card_body %}
    <form action="{% url 'select_manage_session' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="mb-3 mb-sm-0">
                <div class="d-flex justify-content-center">
                    <select class="form-control form-select rounded-pill w-50" aria-label="Default select example" name="course" id="course" required>
                        {% for item in course%}
                        <option value="{{item.course_id}}">{{item.course_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-25">Ok</button>
        </div>
    </form>
{% endblock %}