{% extends 'almaher/base.html'%}

{% block body%}

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-2 text-center w-25" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-2">
            <div class="d-flex bd-highlight">
                <div class="me-auto p-2 bd-highlight">
                    {% if f_session.session_id == session.session_id %}
                        <a href="{% url 'session_student' to_previous %}" class="btn btn-primary disabled">
                            <i class="fas fa-arrow-left"></i>
                            <span>Previous</span>
                        </a>
                    {% else %}
                        <a href="{% url 'session_student' to_previous %}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>
                            <span>Previous</span>
                        </a>
                    {% endif %}
                </div>

                <div class="me-auto p-2 bd-highlight">
                    <form class="user" action="{% url 'session_student' 1 %}" method="post">
                    {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="Session number" 
                                aria-label="Recipient's username" aria-describedby="button-addon2"
                                id="snumber" name="snumber" min="1" max="135">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>
                        </div>
                    </form>
                </div>

                <div class="p-2 bd-highlight">
                {% if l_session.session_id == session.session_id %}
                    <a href="{% url 'session_student' to_next %}" class="btn btn-primary disabled">
                        <i class="fas fa-arrow-right"></i>
                        <span>Next</span>
                    </a>
                {% else %}
                    <a href="{% url 'session_student' to_next %}" class="btn btn-primary">
                        <i class="fas fa-arrow-right"></i>
                        <span>Next</span>
                    </a>
                {% endif %}                    
                </div>
            </div>
        </div>
        <div class="card-header py-2">
            <div class="d-flex bd-highlight mb-auto">
                <div class="me-auto p-2 bd-highlight"><h5>Session Number: {{session.session_number}}</h5></div>
                <div class="p-2 bd-highlight"><h5>Level: {{session.level_id}}</h5></div>
            </div>
            <div class="d-flex bd-highlight mb-auto">
                <div class="me-auto p-2 bd-highlight">
                    <h5>
                        <labelclass="form-label">Teacher</label>
                        <select class="form-control form-select rounded-pill w-100">
                            {% if session.teacher_id %}
                                <option selected value="{{session.teacher_id.person_id}}" onclick="set_teacher({{session.session_id}},{{session.teacher_id.person_id}})">{{session.teacher_id}}</option>
                            {% else %}
                                <option selected value="{{session.teacher_id.person_id}}" onclick="set_teacher({{session.session_id}},-1)">{{session.teacher_id}}</option>
                            {% endif %}
                            {% for item in teacher %}
                                {% if session.teacher_id.person_id != item.person_id %}
                                    <option value="{{item.person_id}}" onclick="set_teacher({{session.session_id}},{{item.person_id}})">{{item.first_name}} {{item.last_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </h5>
                    
                </div>
                <div class="p-2 bd-highlight"><h5>Position: {{session.position_id}}</h5></div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Father</th>
                            <th>BDate</th>
                            <th>Level</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in session_student %}
                        <tr>
                            <td>{{item.student_id.person_id}}</td>
                            <td>{{item.student_id.first_name}}</td>
                            <td>{{item.student_id.last_name}}</td>
                            <td>{{item.student_id.father_name}}</td>
                            <td>{{item.student_id.bdate}}</td>
                            <td>{{item.student_id.level_id}}</td>
                            <td>
                                <a href="{% url 'del_session_student' session.session_id item.id %}" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-user-times"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Father</th>
                            <th>BDate</th>
                            <th>Level</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in student %}
                        <tr>
                            <td>{{item.person_id}}</td>
                            <td>{{item.first_name}}</td>
                            <td>{{item.last_name}}</td>
                            <td>{{item.father_name}}</td>
                            <td>{{item.bdate}}</td>
                            <td>{{item.level_id}}</td>
                            <td>
                                <a href="{% url 'add_session_student' session.session_id item.person_id %}" class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-user-plus"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javaScript %}
<script>
    $(document).ready(function() {
        $('table.display').DataTable();
    } );

    function set_teacher(s_id, t_id){
        let session_id = s_id;
        let teacher_id = t_id;
        $.ajax({
        url: "{% url 'set_teacher' %}",
        data:{
            'session_id':session_id,
            'teacher_id':teacher_id,
            },
        dataType: 'json',
        });
    };
</script>
{% endblock %}