{% extends 'almaher/base_datatables.html'%}

{% block mess %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-2 text-center w-25" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block pg_head %}
    Sessions
{% endblock %}

{% block add_url %}
    {% url 'add_session'%}
{% endblock %}

{% block url_name %}
    Add Session
{% endblock %}

{% block th_table %}
    <th>Session Number</th>
    <th>Course</th>
    <th>Teacher</th>
    <th>Level</th>
    <th>Position</th>
    <th>Time</th>
    <th>Student</th>
    <th></th>
    <th></th>
{% endblock %}

{% block tr_table%}
    {% for item in session%}
    <tr>
        <td>{{item.session_id}}</td>
        <td>{{item.session_number}}</td>
        <td>{{item.course_id.course_name}}</td>
        <td>{{item.teacher_id}}</td>
        <td>{{item.level_id}}</td>
        <td>{{item.position_id}}</td>
        <td>{{item.time_id}}</td>
        <td>
            <div class="d-flex justify-content-center">
                <a href="{% url 'session_student' item.session_id %}" class="btn btn-success btn-circle btn-sm">
                    <i class="fas fa-eye"></i>
                </a>
            </div>
        </td>
        <td>
            <a href="{% url 'edit_session' item.session_id %}" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'del_session' item.session_id %}" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-times"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
