{% extends 'almaher/base.html'%}

{% block body%}
<!-- Begin Page Content -->
<div class="container-fluid">

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-2 text-center w-25" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-2">
            <div class="d-flex bd-highlight">
                <div class="me-auto p-2 bd-highlight">
                    <a href="" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i>
                        <span>Previous</span>
                    </a>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="" class="btn btn-primary">
                        <i class="fas fa-arrow-right"></i>
                        <span>Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-header py-2">
            <div class="d-flex bd-highlight mb-auto">
                <div class="me-auto p-2 bd-highlight"><h5>Session Id: {{session.session_id}}</h5></div>
                <div class="p-2 bd-highlight"><h5>Session Number: {{session.session_number}}</h5></div>
            </div>
            <div class="d-flex bd-highlight mb-auto">
                <div class="me-auto p-2 bd-highlight"><h5>Teacher: {{session.teacher_id}}</h5></div>
                <div class="p-2 bd-highlight"><h5>Level: {{session.level_id}}</h5></div>
            </div>
            <div class="d-flex bd-highlight mb-auto">
                <a type="button" class="m-0  btn btn-success" href="{% url '' %}">
                    <i class="fas fa-fw fa-user-plus"></i>
                    <span>Add student to session</span>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Student</th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in session_student %}
                        <tr>
                            <td>{{item.student_id.person_id}}</td>
                            <td>{{item.student_id}}</td>
                            <td>
                                <a href="{% url 'del_session_student' item.student_id.person_id %}" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}



<div class="input-group">
    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <button class="btn btn-outline-secondary" type="button">Button</button>
</div>
    
    