{% extends 'almaher/base_datatables.html'%}

{% block mess %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="d-flex justify-content-center">
        <div class="alert alert-success my-2 text-center w-25" role="alert">
            {{message}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block pg_head %}
    Teachers
{% endblock %}

{% block export %}
<a href="{% url 'export_excel_teacher' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white">
    <span>Export teachers to excel</span>
    </i>
</a>
{% endblock %}

{% block add_url %}
    {% url 'add_teacher'%}
{% endblock %}

{% block url_name %}
    Add Teacher
{% endblock %}

{% block th_table %}
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Father</th>
    <th>BDate</th>
    <th>Home Number</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Job</th>
    <th></th>
    <th></th>
{% endblock %}

{% block tr_table%}
    {% for item in teacher%}
    <tr>
        <td>{{item.person_id}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.father_name}}</td>
        <td>{{item.bdate}}</td>
        <td>{{item.home_number}}</td>
        <td>{{item.phone_number}}</td>
        <td>{{item.address}}</td>
        <td>{{item.job}}</td>
        <td>
            <a href="{% url 'edit_teacher' item.person_id %}" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'del_teacher' item.person_id %}" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-user-times"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
