{% extends 'almaher/base_datatables.html'%}

{% block pg_head %}
    Teachers
{% endblock %}

{% block add_url %}
    {% url 'add_teacher'%}
{% endblock %}

{% block url_name %}
    Add Teacher
{% endblock %}

{% block th_table %}
    <th>First Name</th>
    <th>Last Name</th>
    <th>Father</th>
    <th>BDate</th>
    <th>Home Number</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Job</th>
    <th></th>
    <th></th>
{% endblock %}

{% block tr_table%}
    {% for item in teacher%}
    <tr>
        <td>{{item.person_id}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.father_name}}</td>
        <td>{{item.bdate}}</td>
        <td>{{item.home_number}}</td>
        <td>{{item.phone_number}}</td>
        <td>{{item.address}}</td>
        <td>{{item.job}}</td>
        <td>
            <a href="{% url 'edit_teacher' item.person_id %}" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'del_teacher' item.person_id %}" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-user-times"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
