{% extends 'almaher/base_datatables.html'%}

{% block pg_head %}
    Times
{% endblock %}

{% block add_url %}
    {% url 'add_time'%}
{% endblock %}

{% block url_name %}
    Add Time
{% endblock %}

{% block th_table %}
    <th>Time Name</th>
    <th></th>
    <th></th>
{% endblock %}

{% block tr_table%}
    {% for item in time%}
    <tr>
        <td>{{item.time_id}}</td>
        <td>{{item.time_name}}</td>
        <td>
            <a href="{% url 'edit_level' item.time_id %}" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'del_level' item.time_id %}" class="btn btn-danger btn-circle btn-sm">
                <i class="fas fa-user-times"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
